#div_header{
    position: fixed;
    top: 0px;
    margin: 0px;
    padding: 0px;
    left: 0px;
    right: 0px;
    width : 100%;
    -webkit-transition: top 0.2s;

}

#top_header{

    display: block;
    /*text-align: left;*/
    color: snow;

    height: 46px;
    font-family: Arial;
    text-shadow: 1px 1px 1px black;
    border-bottom: 1px solid rgba(0,0,0,0.3);
    background: rgba(193,193,193,0.9);
    /*box-shadow: inset 0 1px rgba(255, 255, 255, 0.3),*/
                    /*inset 0 10px rgba(255, 255, 255, 0.2),*/
                    /*inset 0 10px 20px rgba(255, 255, 255, 0.25),*/
                    /*inset 0 -15px 30px rgba(0,0,0,0.3);*/
    box-shadow: inset 2px 2px 2px 2px rgba(255, 255, 255, 0.2);
}

header li{
    float: left;
    display:block;
}

#header_title{
    margin-top: 7px;
    margin-left: 7px;
    float: left;
}

#header_logo{
    margin: 3px;
    width: 40px;
    height: 40px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#top_menu{
    display: block;
    border:gray;
    -webkit-border-radius:3px;
    opacity:0.9;
    color:white;
    clear:both;
}

#top_menu li{
    margin-top:-2px;
    display:inline-block;
    list-style:none;
    padding:1px;
}

#top_menu li a{
    color: snow;
    font-family: Arial;
    text-shadow: 1px 1px 1px black;
    font: bold 14px Tahoma;
    text-decoration: none;
}

#menu_item{
    display:block;
    color:#ffffff;
    #-webkit-border-radius:3px;
    opacity: 0.6;
    background:red;
    -webkit-transition: -webkit-transform 2s, opacity 2s, background 1s, width 1s, height 1s;
    width: 120px;
    text-align: center;
    border-left: 1px solid rgba(0,0,0,0.5);
}

#menu_item:hover{
    /*-webkit-transform: rotate(360deg);*/
    opacity: 1;
    background: #1ec7e6;
    width: 130px;
    cursor: pointer;
}